<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Lista de Productos" blockClass="pc-component">
      <div class="col-md-12 col-xl-8">
        <h5 class="mb-3">
          <a routerLink="/nuevopedido" class="btn btn-outline-dark">Nuevo Pedido</a>
        </h5>
        <button type="button" class="btn btn-outline-success" (click)="abiriInforme()">
          Infrome 
        </button>

        <div class="card tbl-card">
          <div class="table-responsive">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre Producto</th>
                  <th>Nombre Priveedor</th>
                  <th>Cantidad</th>
                  <th>total</th>
                  <th>fech</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let producto of listaproductos; let i = index; trackBy: trackByFn">
                  <td>{{ i + 1 }}</td>
                  <td>{{ producto.producto_nombre }}</td>
                  <td>{{ producto.proveedor_nombre }}</td>
                  <td>{{ producto.cantidad }}</td>
                  <td>{{ producto.total }}</td>
                  <td>{{ producto.fechaPedido }}</td>
                  <td>
                    <button type="button" class="btn btn-outline-success" [routerLink]="['/editarpedido', producto.idPedido]">
                      Editar
                    </button>
                    <button (click)="eliminar(producto.idPedido)" type="button" class="btn btn-outline-danger">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>
